//Color-Variable
$green: #009c34;
$dgreen: #006a47;
$gray: #dadada;
$brown: #d1bb88;
$lightgray: #f7f7f7;
$darkgray: #b09d73;
$gray-font: #949494;
$black: #000;
$lightblk: #5e5e62;
$textblk: #262626;
$white: #fff;
$transperent: transparent;
$error: #f00;
$darkblack: #040d00;
$blackmedium: #666666;
$black: #000000;
$graydark:#e6e6e6;

